In [10]:
import pandas as pd
from sqlalchemy import create_engine
import matplotlib.pyplot as plt

In [11]:
batting_file = "2015batting.csv"
batting_df = pd.read_csv(batting_file)
batting_df.head()

,Tm,#Bat,BatAge,R/G,G,PA,AB,R,H,2B,...,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB,LOB
0,ARI,50,26.5,4.44,162,6276,5649,720,1494,289,...,0.414,0.738,97,2341,134,33,46,57,40,1153
1,ATL,60,28.8,3.54,162,6034,5420,573,1361,251,...,0.359,0.674,87,1948,148,44,67,31,39,1145
2,BAL,48,27.9,4.40,162,6007,5485,713,1370,246,...,0.421,0.728,97,2307,127,51,20,32,23,990
3,BOS,51,28.2,4.62,162,6237,5640,748,1495,294,...,0.415,0.740,97,2338,127,46,30,42,28,1142
4,CHC,50,26.9,4.25,162,6200,5491,689,1341,272,...,0.398,0.719,98,2186,101,74,32,35,47,1165

In [12]:
new_batting_df = batting_df[['Tm', 'BA', 'OBP', 'SB', 'HR']].copy()
new_batting_df.head()

    Tm     BA    OBP   SB   HR
0  ARI  0.264  0.324  132  154
1  ATL  0.251  0.314   69  100
2  BAL  0.250  0.307   44  217
3  BOS  0.265  0.325   71  161
4  CHC  0.244  0.321   95  171

In [13]:
username = "postgres"
password = "postgres"
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/MLB')

In [14]:
new_batting_df = new_batting_df.rename(columns = {'Tm':'TEAM', 'BA':'BATTINGAVG','OBP':'ONBASEPERCENT', 'SB':'STOLEN BASES', 'HR': 'HOMERUNS'})
new_batting_df

     TEAM  BATTINGAVG  ONBASEPERCENT  STOLEN BASES  HOMERUNS
0     ARI       0.264          0.324           132       154
1     ATL       0.251          0.314            69       100
2     BAL       0.250          0.307            44       217
3     BOS       0.265          0.325            71       161
4     CHC       0.244          0.321            95       171
5     CHW       0.250          0.306            68       136
6     CIN       0.248          0.312           134       167
7     CLE       0.256          0.325            86       141
8     COL       0.265          0.315            97       186
9     DET       0.270          0.328            83       151
10    HOU       0.250          0.315           121       230
11    KCR       0.269          0.322           104       139
12    LAA       0.246          0.307            52       176
13    LAD       0.250          0.326            59       187
14    MIA       0.260          0.310           112       120
15    MIL       0.251          0.307            84       145
16    MIN       0.247          0.305            70       156
17    NYM       0.244          0.312            51       177
18    NYY       0.251          0.323            63       212
19    OAK       0.251          0.312            78       146
20    PHI       0.249          0.303            88       130
21    PIT       0.260          0.323            98       140
22    SDP       0.243          0.300            82       148
23    SEA       0.249          0.311            69       198
24    SFG       0.267          0.326            93       136
25    STL       0.253          0.321            69       137
26    TBR       0.252          0.314            87       167
27    TEX       0.257          0.325           101       172
28    TOR       0.269          0.340            88       232
29    WSN       0.251          0.321            57       177
30  LgAvg       0.254          0.317            84       164
31    NaN       0.254          0.317          2505      4909

In [15]:
new_batting_df= new_batting_df.drop([30,31])
new_batting_df

   TEAM  BATTINGAVG  ONBASEPERCENT  STOLEN BASES  HOMERUNS
0   ARI       0.264          0.324           132       154
1   ATL       0.251          0.314            69       100
2   BAL       0.250          0.307            44       217
3   BOS       0.265          0.325            71       161
4   CHC       0.244          0.321            95       171
5   CHW       0.250          0.306            68       136
6   CIN       0.248          0.312           134       167
7   CLE       0.256          0.325            86       141
8   COL       0.265          0.315            97       186
9   DET       0.270          0.328            83       151
10  HOU       0.250          0.315           121       230
11  KCR       0.269          0.322           104       139
12  LAA       0.246          0.307            52       176
13  LAD       0.250          0.326            59       187
14  MIA       0.260          0.310           112       120
15  MIL       0.251          0.307            84       145
16  MIN       0.247          0.305            70       156
17  NYM       0.244          0.312            51       177
18  NYY       0.251          0.323            63       212
19  OAK       0.251          0.312            78       146
20  PHI       0.249          0.303            88       130
21  PIT       0.260          0.323            98       140
22  SDP       0.243          0.300            82       148
23  SEA       0.249          0.311            69       198
24  SFG       0.267          0.326            93       136
25  STL       0.253          0.321            69       137
26  TBR       0.252          0.314            87       167
27  TEX       0.257          0.325           101       172
28  TOR       0.269          0.340            88       232
29  WSN       0.251          0.321            57       177

In [16]:
engine.table_names()

['fifteen_batting']

In [17]:
new_batting_df.to_sql(name='fifteen_batting', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "TEAM" of relation "fifteen_batting" does not exist
LINE 1: INSERT INTO fifteen_batting ("TEAM", "BATTINGAVG", "ONBASEPE...
                                     ^

[SQL: INSERT INTO fifteen_batting ("TEAM", "BATTINGAVG", "ONBASEPERCENT", "STOLEN BASES", "HOMERUNS") VALUES (%(TEAM)s, %(BATTINGAVG)s, %(ONBASEPERCENT)s, %(STOLEN BASES)s, %(HOMERUNS)s)]
[parameters: ({'TEAM': 'ARI', 'BATTINGAVG': 0.264, 'ONBASEPERCENT': 0.324, 'STOLEN BASES': 132, 'HOMERUNS': 154}, {'TEAM': 'ATL', 'BATTINGAVG': 0.251, 'ONBASEPERCENT': 0.314, 'STOLEN BASES': 69, 'HOMERUNS': 100}, {'TEAM': 'BAL', 'BATTINGAVG': 0.25, 'ONBASEPERCENT': 0.307, 'STOLEN BASES': 44, 'HOMERUNS': 217}, {'TEAM': 'BOS', 'BATTINGAVG': 0.265, 'ONBASEPERCENT': 0.325, 'STOLEN BASES': 71, 'HOMERUNS': 161}, {'TEAM': 'CHC', 'BATTINGAVG': 0.244, 'ONBASEPERCENT': 0.321, 'STOLEN BASES': 95, 'HOMERUNS': 171}, {'TEAM': 'CHW', 'BATTINGAVG': 0.25, 'ONBASEPERCENT': 0.306, 'STOLEN BASES': 68, 'HOMERUNS': 136}, {'TEAM': 'CIN', 'BATTINGAVG': 0.248, 'ONBASEPERCENT': 0.312, 'STOLEN BASES': 134, 'HOMERUNS': 167}, {'TEAM': 'CLE', 'BATTINGAVG': 0.256, 'ONBASEPERCENT': 0.325, 'STOLEN BASES': 86, 'HOMERUNS': 141}  ... displaying 10 of 30 total bound parameter sets ...  {'TEAM': 'TOR', 'BATTINGAVG': 0.26899999999999996, 'ONBASEPERCENT': 0.34, 'STOLEN BASES': 88, 'HOMERUNS': 232}, {'TEAM': 'WSN', 'BATTINGAVG': 0.251, 'ONBASEPERCENT': 0.321, 'STOLEN BASES': 57, 'HOMERUNS': 177})]
(Background on this error at: http://sqlalche.me/e/f405)